h1 {
    color: white;
    text-align: center;
    font-family: 'Times New Roman';
}

body {
    background-color: rgb(104, 150, 180);
     background-image: url("stil-makiiazh-pricheska-model-gold-makeup-luxury-jewellery.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}

* {
    text-decoration: none;
}
.navigation {
    
    font-family: 'Times New Roman', Times, serif;
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.75rem 1 rem;

}

.logo a {

    font-size: clamp(1.5rem, 1.2vw, + 1.1rem, 2.5rem);
    font-weight: 700;
    color: white;

}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

li {

    list-style: none;
    display: inline-block;
}

.navigation li a {

    color:white;
    font-size: clamp(1rem, 0.5vw, + 0.8rem, 1.25rem);
    font-weight: bold;
    padding: 0.25rem 0.1rem;

}

.navigation a[aria-current="page"] {

    border-bottom: 3px solid rgba(255, 255n, 255, .85);
    
}


.btn {

    background-color: white;
    margin-left: 12px;
    border-radius: 12px;
    padding: 12px;
    width: 90px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    padding: 0.6rem 0.9rem;
    min-width: 90px;
    text-decoration: none;

}

.btn:hover, .btn:focus-visible {

    filter: brightness(0.95);
}

.hero {
    padding: 2.5rem 1rem 1rem;
}

button a {

    color: white;
    font-weight: bold;
    font-size: 20px;
}

html {
 height: 100%;
}

footer {
    
    margin-top: auto;
    background-color: rgb(245, 212, 167);
    text-align: center;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    padding: 1rem;
 
}

footer a {
    color: #222;

}

footer a:hover,
footer a:focus-visible {

    text-decoration: underline;
    text-underline-offset: 3px;

} 

@media (min-width: 48rem) {
    .navdiv { padding: 1rem 2rem;}
    .hero {padding: 3rem 1rem 1.5rem;}
}

.nav-toggle {
    color: white;
    border-radius: 18px;
    border-style: bold;
    font-size: large;
    border: none;
    cursor: pointer;
    transition: background-color 0.8s, color 0.5s;
    transition: box-shadow 0.15s;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-toggle:hover {
    opacity: 0.9;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10);
  }

  .nav-toggle:active {
    opacity:0.6;
  }